name: Node.js CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 20.14

    - name: Install dependencies
      run: npm install

    - name: Deploy
      run: |
        ssh root@93.127.163.78 'cd ./projects/agencyBot && git pull && npm install && pm2 restart AGENCYBOT'
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
